{{#each this}}
<h2 class="countryTitle">{{name}}</h2>
<div class="countryContentSection">
    <div>
        <p class="countryContent__text"><span class="countryContent__title">Capital:</span> {{capital}}</p>
        <p class="countryContent__text"><span class="countryContent__title">Population:</span> {{population}}</p>
        <p><span class="countryContent__title">Languages:</span> </p>
        <ul>
            {{#each languages}}
            <li class="countryContent__item">
                {{name}}
            </li>
            {{/each}}
        </ul>
    </div>
    <img class="countryContent__image" src={{flag}} alt={{name}} width="300">
</div>
{{/each}}